--extra-index-url https://download.pytorch.org/whl/cu113/torch_stable.html
torch==1.10.2+cu113
torchvision==0.11.3+cu113
torchaudio==0.10.2+cu113
tensorboard==2.3.0
tensorflow==2.3.1
tensorflow-datasets==4.0.1
pytorch_lightning
py3nvml 
transformers
datasets
einops
sklearn
